# Byte-compiled files
__pycache__/
*.py[cod]

# Cython debug symbols
cython_debug/

# Virtual environment
.venv/
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Python environment files
*.env
.envrc

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.log

# MyPy
.mypy_cache/

# Pytest
.cache/

# PyCharm
*.iml

# System files
.DS_Store
Thumbs.db

# Miscellaneous
*.coverage
*.coverage.*
*.hypothesis/
*.tox/
